h1,h2{
    text-align: center;
    font-style: italic;
    background-color: aqua;
    border: 4;
    border-style: groove;
}
p{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCK8vDXjcFJJdTIoejqIXaxrvPaaoUOUg-_A&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
li{
    list-style-type: disc;
}
img{
    width: 400px;
    height: 200px;
}
table,th,td{
    border : 3px solid blue;
    text-align: center;
    width: 50%;
}
.head2{
    background-color: rgb(20, 173, 211);
    margin: 40px 60px 20px 60px;
    padding: 20px;
    border-radius: 10px;
}
table{
    padding: 20px;
}
img{
    padding: 10px 300px ;
}